/* personal website 1 stylesheet 01/9/22 
    LEGEND 
    ======
    fp - front page 
    <insert>

    */


.nav-menu {
    list-style-type: none;
    padding-inline-start: 0px; /* to get rid of default padding in Chrome */
}

.nav-menu-list {
    display: inline;
}

.grid-container-fp {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 2fr 1fr 4fr 2fr;
    grid-template-areas: 
        "l-side header r-side"
        "l-side menu r-side"
        "l-side display-posts r-side"
        "l-side footer r-side"

}

.l-side {
    display: grid;
    grid-area: l-side;
    justify-content: center;

}

.r-side {
    display: grid;
    grid-area: r-side;
    justify-content: center;

}

.g-header {
    display: grid;
    grid-area: header;
    justify-content: center;
    align-content: center;
    
}
.g-menu {
    display: grid;
    grid-area: menu;
    justify-content: center;


}
.g-display-posts {
    display: grid;
    grid-area: display-posts;
    justify-content: center;
    border-style: solid;
    border-width: 1px;

    
}
.g-footer {
    display: grid;
    grid-area: footer;
    justify-content: center;
    align-content: center;

}





