/* personal website 1 stylesheet 01/9/22 
    LEGEND 
    ======
    fp - front page 
    <insert>

    */


.nav-menu {
    list-style-type: none;
}

.nav-menu-list {
    display: inline;
}

.grid-container-fp {
    display: grid;
    grid-template-areas: 
        "l-side header r-side"
        "l-side menu r-side"
        "l-side display-posts r-side"
        "l-side footer r-side"

}

.l-side {
    display: grid;
    grid-area: l-side;
    background-color: red;
}

.r-side {
    display: grid;
    grid-area: r-side;
    background-color: lightgreen;
}

.g-header {
    display: grid;
    grid-area: header;
    justify-content: center;
    background-color: coral;
    
}
.g-menu {
    display: grid;
    grid-area: menu;
    justify-content: center;
    background-color: lime;

}
.g-display-posts {
    display: grid;
    grid-area: display-posts;
    justify-content: center;
    background-color: skyblue;
    
}
.g-footer {
    display: grid;
    grid-area: footer;
    justify-content: center;
    background-color: palevioletred;
}





